In [1]:
import os
import json
import pandas as pd
import psycopg2

In [2]:
#aggre_user

path1 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/aggregated/user/country/india/state/"

agg_user_list= os.listdir(path1)

columns1={"States":[],"Years":[],"Quarter":[],"Brands":[],"Transaction_count":[],"Percentage":[]}

for states in agg_user_list:
    cur_states = os.path.join(path1, states)

    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = os.path.join(cur_states, year)

        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            A = json.load(data)
            
            try: # why use try this file showing None
                for i in A ["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns1["Brands"].append(brand)
                    columns1["Transaction_count"].append(count)
                    columns1["Percentage"].append(percentage)
                    columns1["States"].append(states)
                    columns1["Years"].append(year)
                    columns1["Quarter"].append(int(file.strip(".json")))
            except:
                pass

agg_user = pd.DataFrame(columns1)

agg_user["States"]= agg_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
agg_user["States"]= agg_user["States"].str.replace("-"," ")
agg_user["States"]= agg_user["States"].str.title()
agg_user["States"]= agg_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [3]:
agg_user

,States,Years,Quarter,Brands,Transaction_count,Percentage
0,Andaman & Nicobar & Island,2018,1,Xiaomi,1665,0.247033
1,Andaman & Nicobar & Island,2018,1,Samsung,1445,0.214392
2,Andaman & Nicobar & Island,2018,1,Vivo,982,0.145697
3,Andaman & Nicobar & Island,2018,1,Oppo,501,0.074332
4,Andaman & Nicobar & Island,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,West Bengal,2022,1,Lenovo,330017,0.015056
6728,West Bengal,2022,1,Infinix,284678,0.012987
6729,West Bengal,2022,1,Asus,280347,0.012790
6730,West Bengal,2022,1,Apple,277752,0.012671
6731,West Bengal,2022,1,Others,2196334,0.100199

In [4]:
# aggre_transaction

path2 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/aggregated/transaction/country/india/state/"

agg_tran_list= os.listdir(path2)

columns2={"States":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}

for states in agg_tran_list:
    cur_states = os.path.join(path2, states)

    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = os.path.join(cur_states, year)

        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)

            try:
                
                data = open(cur_file, "r")
                B = json.load(data)

            except:
                continue

            for i in B["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["States"].append(states)
                columns2["Years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json")))

agg_trans = pd.DataFrame(columns2)

agg_trans["States"]= agg_trans["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
agg_trans["States"]= agg_trans["States"].str.replace("-"," ")
agg_trans["States"]= agg_trans["States"].str.title()
agg_trans["States"]= agg_trans["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
agg_trans["Transaction_type"]=agg_trans["Transaction_type"].str.title()
agg_trans["Transaction_type"]=agg_trans["Transaction_type"].str.replace("-"," ")

In [5]:
agg_trans.groupby("Years")["Transaction_amount"].sum()

Years
2018    1.623031e+12
2019    6.276688e+12
2020    1.464116e+13
2021    3.459870e+13
2022    6.426633e+13
2023    9.449181e+13
2024    1.296246e+14
Name: Transaction_amount, dtype: float64

In [6]:
agg_trans.loc[agg_trans["States"] == "Karnataka","Transaction_amount"].sum()

np.float64(40678721773666.38)

In [7]:
agg_trans.dtypes

States                 object
Years                  object
Quarter                 int64
Transaction_type       object
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [8]:
agg_trans

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar & Island,2018,2,Recharge & Bill Payments,6735,2.320945e+06
1,Andaman & Nicobar & Island,2018,2,Peer To Peer Payments,3575,2.451193e+07
2,Andaman & Nicobar & Island,2018,2,Merchant Payments,603,1.024491e+06
3,Andaman & Nicobar & Island,2018,2,Financial Services,59,1.213360e+05
4,Andaman & Nicobar & Island,2018,2,Others,368,3.598385e+05
...,...,...,...,...,...,...
5024,West Bengal,2024,4,Merchant Payments,655100809,3.892862e+11
5025,West Bengal,2024,4,Peer To Peer Payments,493217788,1.361927e+12
5026,West Bengal,2024,4,Recharge & Bill Payments,76043195,5.753406e+10
5027,West Bengal,2024,4,Financial Services,2352084,8.472965e+08
5028,West Bengal,2024,4,Others,421806,5.053641e+08

In [9]:
#aggre_insurance

path3 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/aggregated/insurance/country/india/state/"

agg_insu_list = os.listdir(path3)

columns3={"States":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}

for states in agg_insu_list:
    cur_states = os.path.join(path3, states)

    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = os.path.join(cur_states, year)

        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            C = json.load(data)

            for i in C["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns3["Transaction_type"].append(name)
                columns3["Transaction_count"].append(count)
                columns3["Transaction_amount"].append(amount)
                columns3["States"].append(states)
                columns3["Years"].append(year)
                columns3["Quarter"].append(int(file.strip(".json")))

agg_insure = pd.DataFrame(columns3)

agg_insure["States"]= agg_insure["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
agg_insure["States"]= agg_insure["States"].str.replace("-"," ")
agg_insure["States"]= agg_insure["States"].str.title()
agg_insure["States"]= agg_insure["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [10]:
agg_insure

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar & Island,2020,2,Insurance,6,1360.0
1,Andaman & Nicobar & Island,2020,3,Insurance,41,15380.0
2,Andaman & Nicobar & Island,2020,4,Insurance,124,157975.0
3,Andaman & Nicobar & Island,2021,1,Insurance,225,244266.0
4,Andaman & Nicobar & Island,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,West Bengal,2023,4,Insurance,72712,100365562.0
678,West Bengal,2024,1,Insurance,79576,104987909.0
679,West Bengal,2024,2,Insurance,67048,89476633.0
680,West Bengal,2024,3,Insurance,77158,107451766.0
681,West Bengal,2024,4,Insurance,91719,120602777.0

In [11]:
#map_user

path4 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path4)

columns4={"States":[],"Years":[],"Quarter":[],"District":[],"RegisteredUsers":[],"AppOpens":[]}

for states in map_user_list:
    cur_states = os.path.join(path4, states)

    map_year_list = os.listdir(cur_states)

    for year in map_year_list:
        cur_year = os.path.join(cur_states, year)

        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            D = json.load(data)

            for i in D["data"]["hoverData"].items():
                district=i[0]
                registered_users=i[1]["registeredUsers"]
                app_open=i[1]["appOpens"]
                columns4["District"].append(district)
                columns4["RegisteredUsers"].append(registered_users)
                columns4["AppOpens"].append(app_open)
                columns4["States"].append(states)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(columns4)

map_user["States"]= map_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
map_user["States"]= map_user["States"].str.replace("-"," ")
map_user["States"]= map_user["States"].str.title()
map_user["States"]= map_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_user["District"]=map_user["District"].str.title()

In [12]:
map_user.dtypes

States             object
Years              object
Quarter             int64
District           object
RegisteredUsers     int64
AppOpens            int64
dtype: object

In [13]:
map_user

,States,Years,Quarter,District,RegisteredUsers,AppOpens
0,Andaman & Nicobar & Island,2018,1,North And Middle Andaman District,632,0
1,Andaman & Nicobar & Island,2018,1,South Andaman District,5846,0
2,Andaman & Nicobar & Island,2018,1,Nicobars District,262,0
3,Andaman & Nicobar & Island,2018,2,North And Middle Andaman District,911,0
4,Andaman & Nicobar & Island,2018,2,South Andaman District,8143,0
...,...,...,...,...,...,...
20603,West Bengal,2024,4,Alipurduar District,475688,31842355
20604,West Bengal,2024,4,Paschim Bardhaman District,1468252,80543469
20605,West Bengal,2024,4,Nadia District,1861738,98740305
20606,West Bengal,2024,4,Birbhum District,1114220,73465525
20607,West Bengal,2024,4,Purba Medinipur District,1717074,108350777

In [14]:
#map_transaction

path5 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/map/transaction/hover/country/india/state/"

map_tran_list = os.listdir(path5)

columns5 = {"States": [], "Years": [], "Quarter": [], "District": [], "Transaction_count": [], "Transaction_amount": []}

for states in map_tran_list:
    cur_states = os.path.join(path5, states)

    map_year_list = os.listdir(cur_states)

    for year in map_year_list:
        cur_year = os.path.join(cur_states, year)

        map_file_list = os.listdir(cur_year)

        for file in map_file_list:            
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            E = json.load(data)
                
            for i in E["data"]["hoverDataList"]:
                district=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns5["District"].append(district)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["States"].append(states)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))

map_trans = pd.DataFrame(columns5)

map_trans["States"]= map_trans["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
map_trans["States"]= map_trans["States"].str.replace("-"," ")
map_trans["States"]= map_trans["States"].str.title()
map_trans["States"]= map_trans["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_trans["District"]=map_trans["District"].str.title()

In [15]:
map_trans

,States,Years,Quarter,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar & Island,2018,1,North And Middle Andaman District,442,9.316631e+05
1,Andaman & Nicobar & Island,2018,1,South Andaman District,5688,1.256025e+07
2,Andaman & Nicobar & Island,2018,1,Nicobars District,528,1.139849e+06
3,Andaman & Nicobar & Island,2018,2,North And Middle Andaman District,825,1.317863e+06
4,Andaman & Nicobar & Island,2018,2,South Andaman District,9395,2.394824e+07
...,...,...,...,...,...,...
20599,West Bengal,2024,4,Alipurduar District,15875637,2.099251e+10
20600,West Bengal,2024,4,Paschim Bardhaman District,56616799,6.968735e+10
20601,West Bengal,2024,4,Nadia District,65274337,1.079320e+11
20602,West Bengal,2024,4,Birbhum District,36905213,5.778701e+10
20603,West Bengal,2024,4,Purba Medinipur District,67833775,1.142771e+11

In [16]:
#map_insurance

path6 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/map/insurance/hover/country/india/state/"

map_insur_list = os.listdir(path6)

columns6 = {"States": [], "Years": [], "Quarter": [], "District": [], "Transaction_count": [], "Transaction_amount": []}

for states in map_insur_list:
    cur_states = os.path.join(path6, states)

    map_year_list = os.listdir(cur_states)

    for year in map_year_list:
        cur_year = os.path.join(cur_states, year)

        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            F = json.load(data)

            for i in F["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns6["District"].append(name)
                columns6["Transaction_count"].append(count)
                columns6["Transaction_amount"].append(amount)
                columns6["States"].append(states)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

map_insur = pd.DataFrame(columns6)

map_insur["States"]= map_insur["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
map_insur["States"]= map_insur["States"].str.replace("-"," ")
map_insur["States"]= map_insur["States"].str.title()
map_insur["States"]= map_insur["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [17]:
map_insur

,States,Years,Quarter,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar & Island,2020,2,south andaman district,3,795.0
1,Andaman & Nicobar & Island,2020,2,nicobars district,3,565.0
2,Andaman & Nicobar & Island,2020,3,north and middle andaman district,1,281.0
3,Andaman & Nicobar & Island,2020,3,south andaman district,35,13651.0
4,Andaman & Nicobar & Island,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,West Bengal,2024,4,alipurduar district,1023,1613143.0
13872,West Bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,West Bengal,2024,4,nadia district,3807,5031294.0
13874,West Bengal,2024,4,birbhum district,1818,2423290.0
13875,West Bengal,2024,4,purba medinipur district,3559,4439061.0

In [18]:
#top_user

path7 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/top/user/country/india/state/"

top_user_list = os.listdir(path7)

columns7 = {"States": [], "Years": [], "Quarter": [], "Pincodes": [], "RegisteredUsers": []}

for states in top_user_list:
    cur_states = os.path.join(path7, states)

    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_year = os.path.join(cur_states, year)

        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            G = json.load(data)

            for i in G["data"]["pincodes"]:
                name=i["name"]
                registeredUsers=i["registeredUsers"]
                columns7["Pincodes"].append(name)
                columns7["RegisteredUsers"].append(registeredUsers)
                columns7["States"].append(states)
                columns7["Years"].append(year)
                columns7["Quarter"].append(int(file.strip(".json")))

top_user = pd.DataFrame(columns7)

top_user["States"]= top_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
top_user["States"]= top_user["States"].str.replace("-"," ")
top_user["States"]= top_user["States"].str.title()
top_user["States"]= top_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [19]:
top_user

                          States Years  Quarter Pincodes  RegisteredUsers
0     Andaman & Nicobar & Island  2018        1   744103             1608
1     Andaman & Nicobar & Island  2018        1   744101             1108
2     Andaman & Nicobar & Island  2018        1   744105             1075
3     Andaman & Nicobar & Island  2018        1   744102             1006
4     Andaman & Nicobar & Island  2018        1   744104              272
...                          ...   ...      ...      ...              ...
9995                 West Bengal  2024        4   733134           169596
9996                 West Bengal  2024        4   700059           169448
9997                 West Bengal  2024        4   711302           146034
9998                 West Bengal  2024        4   700150           142151
9999                 West Bengal  2024        4   711106           142077

[10000 rows x 5 columns]

In [20]:
#top_transaction

path8 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/top/transaction/country/india/state/"

top_tran_list = os.listdir(path8)

columns8 = {"States": [], "Years": [], "Quarter": [], "Pincodes": [], "Transaction_count": [], "Transaction_amount": []}

for states in top_tran_list:
    cur_states = os.path.join(path8, states)

    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_year = os.path.join(cur_states, year)

        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            H = json.load(data)

            for i in H["data"]["pincodes"]:
                entityname=i["entityName"]
                couny=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns8["Pincodes"].append(entityname)
                columns8["Transaction_count"].append(count)
                columns8["Transaction_amount"].append(amount)
                columns8["States"].append(states)
                columns8["Years"].append(year)
                columns8["Quarter"].append(int(file.strip(".json")))         

top_trans = pd.DataFrame(columns8)

top_trans["States"]= top_trans["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
top_trans["States"]= top_trans["States"].str.replace("-"," ")
top_trans["States"]= top_trans["States"].str.title()
top_trans["States"]= top_trans["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [21]:
top_trans

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar & Island,2018,1,744101,3559,2.769298e+06
1,Andaman & Nicobar & Island,2018,1,744103,3559,2.238042e+06
2,Andaman & Nicobar & Island,2018,1,744102,3559,3.519060e+06
3,Andaman & Nicobar & Island,2018,1,744105,3559,1.298561e+06
4,Andaman & Nicobar & Island,2018,1,744104,3559,1.039715e+06
...,...,...,...,...,...,...
9994,West Bengal,2024,4,711101,3559,1.049483e+10
9995,West Bengal,2024,4,700059,3559,8.009476e+09
9996,West Bengal,2024,4,700039,3559,9.018748e+09
9997,West Bengal,2024,4,734001,3559,8.996529e+09
9998,West Bengal,2024,4,733134,3559,1.050259e+10

In [22]:
#top_insurance

path9 = "C:/Users/aji09/OneDrive/Desktop/DS/Project/Phonepay/pulse/data/top/insurance/country/india/state/"

top_insu_list = os.listdir(path9)

columns9 = {"States": [], "Years": [], "Quarter": [], "Pincodes": [], "Transaction_count": [], "Transaction_amount": []}

for states in top_insu_list:
    cur_states = os.path.join(path9, states)

    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_year = os.path.join(cur_states, year)

        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year, file)

            data = open(cur_file, "r")
            I = json.load(data)

            for i in I["data"]["pincodes"]:
                entityname=i["entityName"]
                couny=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns9["Pincodes"].append(entityname)
                columns9["Transaction_count"].append(count)
                columns9["Transaction_amount"].append(amount)
                columns9["States"].append(states)
                columns9["Years"].append(year)
                columns9["Quarter"].append(int(file.strip(".json")))

top_insu = pd.DataFrame(columns9)

top_insu["States"]= top_insu["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar & Island')
top_insu["States"]= top_insu["States"].str.replace("-"," ")
top_insu["States"]= top_insu["States"].str.title()
top_insu["States"]= top_insu["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [23]:
top_insu["Transaction_amount"].sum()

np.float64(2961952759.0)

In [24]:
top_insu["Transaction_amount"].max()

np.float64(5740577.0)

In [25]:
top_insu.groupby("Years")["Transaction_amount"].sum()

Years
2020    4.519203e+07
2021    2.164551e+08
2022    6.094686e+08
2023    9.104293e+08
2024    1.180408e+09
Name: Transaction_amount, dtype: float64

In [26]:
top_insu.sort_values("Transaction_amount", ascending=False).head(5)

         States Years  Quarter Pincodes  Transaction_count  Transaction_amount
2983  Karnataka  2024        4   560068               3559           5740577.0
2953  Karnataka  2024        1   560068               3559           5672343.0
2943  Karnataka  2023        4   560068               3559           5606578.0
2974  Karnataka  2024        3   560100               3559           5455946.0
2973  Karnataka  2024        3   560068               3559           5413163.0

In [27]:
top_insu

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar & Island,2020,2,744301,3559,565.0
1,Andaman & Nicobar & Island,2020,2,744104,3559,513.0
2,Andaman & Nicobar & Island,2020,2,744101,3559,282.0
3,Andaman & Nicobar & Island,2020,3,744112,3559,3432.0
4,Andaman & Nicobar & Island,2020,3,744105,3559,3948.0
...,...,...,...,...,...,...
6663,West Bengal,2024,4,711101,3559,750354.0
6664,West Bengal,2024,4,700091,3559,969634.0
6665,West Bengal,2024,4,700150,3559,761501.0
6666,West Bengal,2024,4,700039,3559,787836.0
6667,West Bengal,2024,4,700156,3559,888613.0

In [28]:
top_insu.columns

Index(['States', 'Years', 'Quarter', 'Pincodes', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [29]:
top_insu.shape

(6668, 6)

In [31]:
# Table Creation

#sql connection
mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        port = 5432,
                        database = "Phonepay_data",
                        password = "your_password")
cursor = mydb.cursor()

#aggregated_user

create_query_1 = '''CREATE TABLE IF NOT EXISTS aggregated_user(States VARCHAR(250),
                                                                Years INT,
                                                                Quarter INT,
                                                                Brands VARCHAR(250),
                                                                Transaction_count BIGINT,
                                                                Percentage FLOAT)'''

cursor.execute(create_query_1)
mydb.commit()

insert_query_1 = '''INSERT INTO aggregated_user(States, Years, Quarter, Brands, Transaction_count, Percentage) VALUES(%s,%s,%s,%s,%s,%s)'''

data = agg_user.values.tolist()
cursor.executemany(insert_query_1, data)
mydb.commit()


#aggregated_transaction

mydb.rollback() # Reset failed transaction

create_query_2 = '''CREATE TABLE IF NOT EXISTS aggregated_transaction(States VARCHAR(250),
                                                                    Years INT,
                                                                    Quarter INT,
                                                                    Transaction_type VARCHAR(250),
                                                                    Transaction_count BIGINT,
                                                                    Transaction_amount BIGINT)'''

cursor.execute(create_query_2)
mydb.commit()

insert_query_2 = '''INSERT INTO aggregated_transaction(States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)'''

data = agg_trans.values.tolist()
cursor.executemany(insert_query_2, data)
mydb.commit()


#aggregated_insurance

create_query_3 = '''CREATE TABLE IF NOT EXISTS aggregated_insurance(States VARCHAR(250),
                                                                    Years INT,
                                                                    Quarter INT,
                                                                    Transaction_type VARCHAR(250),
                                                                    Transaction_count BIGINT,
                                                                    Transaction_amount BIGINT)'''

cursor.execute(create_query_3)
mydb.commit()

insert_query_3 = '''INSERT INTO aggregated_insurance(States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)'''

data = agg_insure.values.tolist()
cursor.executemany(insert_query_3, data)
mydb.commit()


#map_user

create_query_4 = '''CREATE TABLE IF NOT EXISTS map_user(States VARCHAR(250),
                                                        Years INT,
                                                        Quarter INT,
                                                        District VARCHAR(250),
                                                        RegisteredUsers BIGINT,
                                                        AppOpens BIGINT)'''

cursor.execute(create_query_4)
mydb.commit()

insert_query_4 = '''INSERT INTO map_user(States, Years, Quarter, District, RegisteredUsers, AppOpens) VALUES(%s,%s,%s,%s,%s,%s)'''

data = map_user.values.tolist()
cursor.executemany(insert_query_4, data)
mydb.commit()


#map_transaction

create_query_5 = '''CREATE TABLE IF NOT EXISTS map_transaction(States VARCHAR(250),
                                                                Years INT,
                                                                Quarter INT,
                                                                District VARCHAR(250),
                                                                Transaction_count BIGINT,
                                                                Transaction_amount BIGINT)'''

cursor.execute(create_query_5)
mydb.commit()

insert_query_5 = '''INSERT INTO map_transaction(States, Years, Quarter, District, Transaction_count, Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)'''

data = map_trans.values.tolist()
cursor.executemany(insert_query_5, data)
mydb.commit()


#map_insurance

create_query_6 = '''CREATE TABLE IF NOT EXISTS map_insurance(States VARCHAR(250),
                                                                Years INT,
                                                                Quarter INT,
                                                                District VARCHAR(250),
                                                                Transaction_count BIGINT,
                                                                Transaction_amount BIGINT)'''

cursor.execute(create_query_6)
mydb.commit()

insert_query_6 = '''INSERT INTO map_insurance(States, Years, Quarter, District, Transaction_count, Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)'''

data = map_insur.values.tolist()
cursor.executemany(insert_query_6, data)
mydb.commit()


#top_user

mydb.rollback() # Reset failed transaction

create_query_7 = '''CREATE TABLE IF NOT EXISTS top_user(States VARCHAR(250),
                                                        Years INT,
                                                        Quarter INT,
                                                        Pincodes INT,
                                                        RegisteredUsers BIGINT)'''

cursor.execute(create_query_7)
mydb.commit()

insert_query_7 = '''INSERT INTO top_user(States, Years, Quarter, Pincodes, RegisteredUsers) VALUES(%s,%s,%s,%s,%s)'''

data = top_user.values.tolist()
cursor.executemany(insert_query_7, data)
mydb.commit()


#top_transaction

mydb.rollback() # Reset failed transaction

create_query_8 = '''CREATE TABLE IF NOT EXISTS top_transaction(States VARCHAR(250),
                                                                Years INT,
                                                                Quarter INT,
                                                                Pincodes VARCHAR(6),
                                                                Transaction_count BIGINT,
                                                                Transaction_amount BIGINT)'''

cursor.execute(create_query_8)
mydb.commit()

top_trans["Pincodes"] = top_trans["Pincodes"].astype(str) # ensure pincode is string

insert_query_8 = '''INSERT INTO top_transaction(States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)'''

data = top_trans.values.tolist()
cursor.executemany(insert_query_8, data)
mydb.commit()


#top_insurance

create_query_9 = '''CREATE TABLE IF NOT EXISTS top_insurance(States VARCHAR(250),
                                                                Years INT,
                                                                Quarter INT,
                                                                Pincodes VARCHAR(6),
                                                                Transaction_count BIGINT,
                                                                Transaction_amount BIGINT)'''

cursor.execute(create_query_9)
mydb.commit()

insert_query_9 = '''INSERT INTO top_insurance(States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)'''

data = top_insu.values.tolist()
cursor.executemany(insert_query_9, data)
mydb.commit()